.custom-menu {
    display: flex;
    justify-content: flex-end;
    width: 100%
}

.custom-menu a {
    padding: 12px;
    list-style: none;
    text-decoration: none;
    color: #dad01c;
    font-size: 20px;
}

.section-heading {
    padding: 10px;
}

.home-section {
    margin-top: 10px;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.indent {
    padding: 2px;
}

.wishlist-count {
    color: #fff;
}

.feature-text {
    font-size: 13px;
    padding-left: 5px;
}

.feature-wrapper{
    min-height: 90px;
}
.footer-color{
    background-color: rgb(33 37 41);
    color: #dad01c;
}
.about-rows{
    padding-top: 15px;
    text-align: left;
    align-items: center;
}
.about-img img{
    width:100%;
}
.last-row{
    padding-bottom: 15px;
}
.reviews-wrapper{
    padding: 20px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #eddcdc !important;
}
.reviews-wrapper{
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.carousel-item{
    height:50vh;
}
